<form method="post" action="{{ path('mat_delete', {'id': mat.id}) }}" onsubmit="return confirm('Weet je zeker dat je deze mat wilt verwijderen? Dit kan niet ongedaan worden gemaakt!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mat.id) }}">
    <button style="margin:5px" class="btn btn-danger">Verwijder</button>
</form>
