<form method="post" action="{{ path('mat_delete', {'id': mat.id}) }}" onsubmit="return confirm('Weet je zeker dat je deze mat wilt verwijderen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mat.id) }}">
    <button class="btn">Verwijder</button>
</form>
