{% extends 'base.html.twig' %}

{% block title %}Mat bewerken{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Mat bewerken</h1>

    {{ include('mat/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('mat/_delete_form.html.twig') }}

    <a style="margin:5px" class="btn btn-primary" href="{{ path('mat_index') }}">Terug naar matten lijst</a>
</div>
{% endblock %}
