{% extends 'base.html.twig' %}

{% block title %}New Mat{% endblock %}

{% block body %}
    <h1>Create new Mat</h1>

    {{ include('mat/_form.html.twig') }}

    <a href="{{ path('mat_index') }}">back to list</a>
{% endblock %}
