body {
    background-color: white;
}

/* @media (max-width: 1000px) {
  .right {
    width: -50%;
    height: -50%;
    transform: scale(0, 0);
  } */
  /* #currentmat {
    width: -50%;
    height: -50%;
    transform: scale(0, 0.5);
  }
} */

/* Speelveld rechterkant */

.right {
  position: fixed;
  /* Dit was VH */
  height: 100%; 
  left: 20%;
  width: 60%;
  top: 0%;
}

#playground {
  height: 100%;
  width: 60%;
  position: fixed;
  /* Dit staat er zo in om te zorgen dat de Beebot de playground niet meeneemt */
}

/* De grootte van de BeeBot */
#bot {
  height: 120px;
  width: 120px;
}

#bot:hover {
  cursor: move;
}

/* Img waar de gekozen mat word ingeladen, position absolute zodat hij altijd linksbovenin staat. Z-index om te zorgend dat je de bot boven de mat hebt */

#currentmat {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -1;
}


/* Code voor het menu aan de linkerkant */

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 5px solid rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(226, 230, 36);
  }

  /* input {
    width: 40px;
    height: 50px;
  } */

  .dropdowns{
    position: absolute;
    left: 18%;
  }

  .dropdowns label{
    font-weight: bold;
  }

/* Styling voor het commando centrum */

#commands {
	margin-top: 20px;
	border: 2px solid gray;
	background-color: #22f8ed;
	padding: 5px;
	max-width: 100%;
	min-height: 36px;
}

#commands img {
	padding: 5px;
}

#infobutton {
  display: none;
}

/* Styling voor menu rechterkant */

.creditmenu {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  border-left: 5px solid rgb(0, 0, 0);
  overflow: auto;
  padding-top: 20px;
  background-color: rgb(226, 230, 36);
}

/* Responsive design voor infobox. Het speelveld is groter voor mensen met een klein scherm */

@media all and (max-width: 1250px) {
  .creditmenu {
    display: none;
  }

  #playground {
    width: 80%;
  }

  #infobutton {
    display: block;
    position: absolute;
    bottom: 3%
  }
  
  
}

.textbox {
  padding-left: 5px;
}

.infotext {
  font-size: 12px;
}

.makeitmove {
  text-align: center;
}

.options {
  bottom: 0;
  width: 20%;
  right: 0;
  z-index: 2;
  position: absolute;
  border-top: 5px solid #000000;
  border-left: 5px solid #000000;
  text-align: center;
  background-color: rgb(230, 201, 36);
}

.options a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
}

.options a:hover {
  color: #686868;
}

/* styling voor bot */

/* #bot {
  width: 80px;
	height: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
} */

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }