body {
    background-color: white;
}

/* Speelveld rechterkant */

.right {
  position: fixed;
  /* TODO: FIX BEEBOT  */
  height: 100vh;
  left: 20%;
  width: 80%;
  top: 0%;
}

#playground {
  height: 100%;
  width: 80%;
  position: fixed;
  /* Dit staat er zo in om te zorgen dat de Beebot de playground niet meeneemt */
}

/* De grootte van de BeeBot */
#bot {
  height: 160px;
  width: 160px;
}

/* Img waar de gekozen mat word ingeladen, position absolute zodat hij altijd linksbovenin staat. Z-index om te zorgend dat je de bot boven de mat hebt */

#currentmat {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -1;
}


/* Code voor het menu aan de linkerkant */

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 5px solid rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(226, 230, 36);
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .sidenav a:hover {
    color: #686868;
  }

  .dropdowns{
    position: absolute;
    left: 18%;
  }

  .dropdowns label{
    font-weight: bold;
  }


  .options {
    position: absolute;
    bottom: 10%;
    left: 18%;
  }

/* Styling voor het commando centrum */

#commands {
	margin-top: 20px;
	border: 2px solid gray;
	background-color: #3352ff;
	padding: 5px;
	max-width: 100%;
	min-height: 36px;
}

#commands img {
	padding: 5px;
}

/* styling voor bot */

/* #bot {
  width: 80px;
	height: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
} */


  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }