<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Weet je zeker dat je deze categorie wilt verwijderen? Alle matten met deze categorie worden leeg, je moet ze zelf weer toevoegen aan een andere categorie! Dit kan je niet ongedaan maken!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button style="margin:5px" class="btn btn-danger">Verwijder</button>
</form>
