{% extends 'base.html.twig' %}

{% block title %}Categorie bewerken{% endblock %}

{% block body %}
    <h1>Categorie bewerken</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('category/_delete_form.html.twig') }}

    <a style="margin:5px" class="btn btn-primary" href="{{ path('category_index') }}">Terug naar categorieën lijst</a>
{% endblock %}
