<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Weet je zeker dat je deze gebruiker wilt verwijderen? Dit kan niet ongedaan worden gemaakt!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button style="margin:5px" class="btn btn-danger" class="btn">Verwijder</button>
</form>
